{% extends "layout.html" %}

{% block title %}
打卡查询
{% end %}

{% block content %}
<div data-role="page" id="my-daka">
    <div data-role="header">
        <a href="/user" data-rel="external" data-icon="home">返回</a>
        <h1>打卡查询</h1>
    </div>
    <div data-role="content">
        <form action="/user/daka" method="POST" id="daka-form">
            <div style="width: 7em; margin: 0 auto; font-weight: bold; font-size: 1.5em;">请选择你的生日</div>
            <div data-role="fieldcontain">
                <input type="date" name="birthday" id="birthday" value="1996-02-04"/>
            </div>
            <div data-role="fieldcontain">
                <button type="submit">查询</button>
            </div>
            {% module xsrf_form_html() %}
        </form>
    </div>
</div>
{% end %}
