{% extends "layout.html" %}

{% block title %}关于{% end %}

{% block content %}
<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
        <a class="brand" href="/">大建桥助手</a>
        <ul class="nav">
        <li><a href="/">首页</a></li>
        <li><a href="/d/cet">四六级查询</a></li>
        <li><a href="/d/sport">打卡查询</a></li>
        <li class="active"><a href="#">关于</a></li>
        <li><a href="/d/comment">留言</a></li>
        </ul>
        </div>
  </div>
</div>

<div class="container">
    <div class="row">
        <div class="span10 offset1">
            <div class="container">
                <div class="row">
                    <div class="span8">
                        <h3>这是干什么的？</h3>
                        <hr/>
                        <p>这是大建桥助手，专注帮助建桥学子30年</p>
                    </div>
                    <div class="span8">
                        <h3>大建桥助手提供哪些功能？</h3>
                        <hr/>
                        <p>课表查询，成绩查询，素质拓展学分查询，打卡次数查询，四六级考试成绩查询等等更多功能正在添加ing...</p>
                    </div>
                    <div class="span8">
                        <h3>为什么桌面版无法使用课表查询等功能？</h3>
                        <hr/>
                        <p>因为只提供手机版</p>
                    </div>
                    <div class="span8">
                        <h3>隐私问题？</h3>
                        <hr/>
                        <p>本站不会保存你的帐号密码，本站的源代码在Github开源，你可以自行查看有没有保存。</p>
                    </div>
                    <div class="span8">
                        <h3>感谢下列童鞋</h3>
                        <hr/>
                        <p>老师说要感谢X，感谢XX。</p>
                        <p>感谢2013级工程管理许童鞋的帮助，没有她的帮助，打卡查询将无法完成</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% end %}
