<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% end %}-大建桥助手</title>
    <link href="/static/desktop/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/static/desktop/css/base.css" rel="stylesheet" media="screen">
    <script src="http://cdn.staticfile.org/jquery/1.9.1/jquery.min.js"></script>
    <script src="/static/desktop/js/bootstrap.min.js"></script>
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <![endif]-->
</head>
<body>
    {% block content %}
    {% end %}
</body>
</html>
